@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Color Map*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

main, footer {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  color: #101010;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "header" "main" "footer";
}

.restaurant {
  grid-area: main;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "image" "menu";
}
.restaurant__image {
  grid-area: image;
  height: 220px;
}
.restaurant__image__img {
  grid-area: image;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant__menu {
  background: #f6f6f6;
  grid-area: menu;
  width: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "title" "appetizers" "dinners" "desserts" "order";
}

.title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
}

.course {
  gap: 0.5em;
  background: #f6f6f6;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "course__title" "course__container";
}
.course__title {
  grid-area: course__title;
  text-decoration: underline;
}
.course__container {
  grid-area: course__container;
  display: grid;
  gap: 1em;
}

.option {
  background: #ffffff;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "option__title ." "option__subtitle option__price";
}
.option__title {
  grid-area: option__title;
}
.option__subtitle {
  grid-area: option__subtitle;
}
.option__price {
  grid-area: option__price;
  text-align: end;
}

.header {
  background: #ffffff;
  grid-area: header;
  display: grid;
  grid-template-columns: 28% minmax(0, 1fr) 28%;
  grid-template-areas: "arrow logo .";
}
.header__logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}
.header__arrow {
  grid-area: arrow;
  background-color: aqua;
  justify-self: center;
  align-self: center;
}

/*menu form*/
footer {
  grid-area: footer;
  background: #353535;
}

footer h2 {
  padding-left: 1.125rem;
}

footer ul {
  list-style-type: none;
  padding-left: 1.125rem;
}

footer a:link {
  color: #ffffff;
}
footer a:visited {
  color: #ffffff;
}
footer a:hover {
  color: #FF79DA;
}
footer a:active {
  color: #9356DC;
}
footer a:focus {
  color: #9356DC;
}
footer a:invalid {
  color: #ffffff;
}

.home-title {
  color: #ffffff;
  font-size: xx-small;
}

.main {
  background: #ffffff;
  grid-area: main;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "search" "steps" "restaurants";
}

.search {
  grid-area: search;
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "form__container" "search__heading" "search__subheading" "form__button";
}
.search__heading {
  grid-area: search__heading;
}
.search__subheading {
  grid-area: search__subheading;
}

.form {
  background-color: aqua;
}
.form__container {
  grid-area: form__container;
}
.form__button {
  grid-area: form__button;
}

.steps {
  grid-area: steps;
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "heading" "step" "step" "step";
}

.restaurants {
  grid-area: restaurants;
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "heading" "card" "card" "card" "card";
}

/*# sourceMappingURL=style.css.map */
