@use "./variables" as *;

/*Color Map*/
//Color palette map for the site.
//This map is both intended for and used in the footer of the entire site.
//The hexadecimal color values for the variables used in this map are in the _variables.scss file.

$color-palette: (
    color-primary: $color-primary,
    color-secondary: $color-secondary,
    color-tertiary: $color-tertiary,

    color-primary-lighten: $color-primary-lighten,
    color-tertiary-darken: $color-tertiary-darken,

    color-title: $color-title,

    color-container: $color-container,
    color-text: $color-text,

    color-search-text: $color-search-text,
    color-search-container: $color-search-container,

    color-container-accented: $color-container-accented,

    color-howto-icon: $color-howto-icon,

    color-footer-container: $color-footer-container,
    color-footer-text: $color-footer-text
);

/*Link Map*/
//Link color palette map for different link states.
//This map is both intended for and used in the footer, which is identical throughout the site.
//The hexadecimal color values for the variables used in this map are in the _variables.scss file.
//This map is used in the link-palette mixin in the _mixins.scss file.

$link-palette: (
    link: (
        text: $color-footer-text,
    ),
    visited: (
        text: $color-footer-text,
    ),
    hover:(
        text: $color-secondary,
    ),
    active: (
        text: $color-primary,
    ),
    focus: (
        text: $color-primary,
    ),
    invalid: (
        text: $color-footer-text
    ) 
);

/*Breakpoints Map*/
//If an additional breakpoint is needed, first add the breakpoint to this map.
//Then, create a mixin using the new map key in the _mixins.scss file.
//Note that these breakpoints are based on a mobile-first design, to be used with min-width media queries.

$breakpoints: (
    fold-phone: 280px,
    small-phone: 320px,
    small-tablet: 481px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1024px,
    large-desktop: 1200px,
);