@use "../abstracts" as *;

footer {
    grid-area: footer;
    background: map-get($color-palette, color-footer-container);
    
}

footer h2 {
    padding-left: 1.125rem;
}

footer ul {
    list-style-type: none;
    padding-left: 1.125rem;
}

footer a {
    @include link-palette($link-palette);
}

.fa-utensils, .fa-hands-helping {
    height: 1rem;
    width: 1rem;
    margin-right: 10px;
}
