@use "../abstracts" as *;

body {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

//Menu pages grid

.restaurant {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-areas: 
    "img"
    "overlap"
    "menu";
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 220px 1.5em minmax(0 , 1fr);
    &__image {
        grid-row: img / overlap;
        &__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__menu {
        grid-row: overlap / menu;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 
        "title"
        "appetizers"
        "dinners"
        "desserts"
        "order";
    }
}

.restaurant__image, .restaurant__menu {
    grid-column: 1/-1;
}

.title {
    grid-area: title;
    background: map-get($color-palette, color-container-accented);
    padding: 1.5rem;
    border-top: 1px solid transparent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.course {
    gap: 0.5em;
    padding: 1rem;
    background: map-get($color-palette, color-container-accented);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "course__title"
    "course__container";
    &__title {
        grid-area: course__title;
        padding: 0rem 0.5rem;
        font-weight: 300;
        font-size: 1.2rem;
        position: relative;
        //border-bottom: 3px solid map-get($color-palette, color-tertiary);
        &::before {
            content: "";
            width: 10%;
            position: absolute;
            padding: 0.5em;
            border-bottom: 3px solid map-get($color-palette, color-tertiary);
        }
    }
    &__container {
        grid-area: course__container;
        display: grid;
        gap: 1em;
    }
}

.option {
    background: map-get($color-palette, color-container);
    padding: 1rem;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 0 5px 20px #e7e7e7;
    display: grid;
    width: 100%;
    grid-template-areas: 
    "option__text option__price option__check"
    "option__text option__price option__check";
    grid-template-columns: minmax(0, 1fr);
    &__title {
        grid-area: option__text;
    }
    &__subtitle {
        grid-area: option__text;
    }
    &__price {
        grid-area: option__price;
        align-self: end;
        font-weight: 700;
    }
    &__check {
        grid-area: option__check;
        align-self: center;
        opacity: 0%;
    }
}

.grid {
    display: grid;
    background: map-get($color-palette, color-container-accented);
    padding: 2rem 0 5rem 0;
}




