@use "../abstracts" as *;

//Header grid is identical on all pages.
//Arrow is not visible on home page.
/* Header */
.header {
    background: map-get($color-palette, color-container);
    grid-area: header;
    gap: 1rem;
    display: grid;
    grid-template-columns: 28% minmax(0, 1fr) minmax(0, 28%);
    grid-template-rows: 10% minmax(0, 1fr) 5%;
    grid-template-areas: 
    ". . ."
    "arrow logo ."
    ". . .";
    &__logo {
        grid-area: logo;
        justify-self: center;
        align-self: center;
    }
    &__arrow {
        grid-area: arrow;
        justify-self: left;
        align-self: center;
        margin: 0rem 1rem;
        border: 5px solid transparent;
        border-radius: 50%;
        color: map-get($color-palette, color-text);
        &:hover, &:active, &:focus {
            background: map-get($color-palette, color-container-accented);
        }
    }
}

.fa-arrow-left {
    font-weight: bold;
    font-size: 1.2rem;
}