@use "../abstracts" as *;

.btn {
    grid-area: button;
    width: 50vw;
    background: map-get($color-palette, color-primary);
    color: map-get($color-palette, color-container);
    border: none;
    border-radius: 30px;
    &--search {
        justify-self: center;
    }
}

// btn--command

