@use "../abstracts" as *;

/*Course containers for menu pages*/

.course__container {
    grid-area: course__container;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    @include tablet {
        padding: 0rem 5rem;
    }
    @include laptop {
        padding: 0rem;
    }
    transform-origin: 0% 0%;
    transform: scaleY(0);
    animation-name: courses;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 600ms * $i;
            animation-duration: 600ms;
        }
    }
}

@keyframes courses {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}