@use "../abstracts" as *;

.fa-heart {
    position: relative;
    cursor: pointer;
    &--empty {
        color: black;
        &:hover {
            color: transparent;
        }
    }
    &--full {
        position: absolute;
        color: transparent;
        &:hover {
            color: red;
        }
    }
}