@use "../abstracts" as *;

$anim-delay: 300ms;

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    text-align: center;
    font-family: $title-font;
    font-size: 4rem;
    background-color: lighten($color-tertiary, 10);
    opacity: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation-name: loader-background;
    animation-duration: 3000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    
    &__word {
        opacity: 1;
        color: map-get($color-palette, color-primary);
        text-shadow: 0.025em 0.025em map-get($color-palette, color-secondary);
        transform: scale(1) translateZ(0px);
        animation-name: loader-word;
        animation-duration: 3000ms;
        animation-timing-function: ease-in;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
                animation-duration: 400ms;
            }
        }
    }
}

@keyframes loader-word {
    0% {
        transform: scale(1, 1);
    }

    26% {
        transform: scale(1.7, 1.7);
    }

    31% {
        transform: scale(2, 2);
    }

    50% {
        transform: scale(1.7, 1.7);
    }

    85% {
        transform: scale(1.1, 1.1);
    }

    100% {
   
        transform: scale(1, 1);
    }
}

@keyframes loader-background {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }

    95% {
        opacity: 1;
        transform: scale(1, 1);
    }

    98% {
        opacity: 0;
        z-index: 4;
    }

    99% {
        visibility: hidden;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}