@use "../abstracts" as *;

/*Course containers for menu pages*/

.course__container {
    transform-origin: 0% 0%;
    transform: scaleY(0);
    animation-name: courses;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 600ms * $i;
            animation-duration: 600ms;
        }
    }
}

@keyframes courses {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/*Course option cards for menu pages*/
.option {
    background: map-get($color-palette, color-container);
    border: 0px solid transparent;
    border-radius: 12px;
    box-shadow: 0.1rem 0.3rem 0.75rem darken(map-get($color-palette, color-container-accented), 10);
    display: flex;
    min-width: 0;
    overflow: hidden;
    &__details {
        width: 100%;
        min-width: 0;
        padding: 0.75rem;
        border: none;
        background-color: transparent;
        font-family: $body-font;
        display: flex;
        justify-content: space-between;
        text-align: left;
        transform-origin: left 50%;
        &:hover {
            & + .option__check {
                margin-right: 0em;
                transition: margin-right 1s ease-in-out;
                & > .option__check__icon {
                    transform: rotate(360deg);
                    transition: all 1s ease-in-out;
                }
            }
        } 
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5em;
            min-width: 0;
            &__title , &__subtitle {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__subtitle {
                font-size: 1rem;
            }
        }
        &__price {
            align-self: flex-end;
            font-weight: 700;
            flex-shrink: 0;
            font-size: 1rem;
        }
    }
    &__check {
        height: 100%;
        align-items: center;
        background: map-get($color-palette, color-tertiary);
        display: inline-flex;
        border: 0px solid transparent;
        width: 4em;
        margin-right: -4em;
        transition: margin-right 1s;
        &__icon {
            color: map-get($color-palette, color-container);
            font-size: 1.2em;
            padding: 0em 1.2em;
            transition: transform 0s;
        }
    }
}