@use "../abstracts" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

a:any-link {
    text-decoration: none;
}

//Change default blue highlight color to zero opacity for all anchor tags.
a:any-link, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}