@use "../abstracts/" as *;

// Styles
main, footer {
  font-family: $body-font;
  font-weight: normal;
}

h1 {
  font-family: $title-font;
  font-weight: normal;
  color: $color-title;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

footer h2 {
  font-family: $title-font;
  font-weight: 300;
}

a {
  text-decoration: none;
}

