@use "../abstracts" as *;

//Hides h1 in the header
.home-title {
    color: transparent;
    font-size: xx-small;
}

// different class for the main section on the home page than on the menu pages
.main {
    background: map-get($color-palette, color-container);
    grid-area: main;
    display:grid;
    width: 100%;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "search"
    "steps"
    "restaurants";
}

.search {
    grid-area: search;
    display: grid;
    /*gap: 1em;*/
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "form"
    "search__heading"
    "search__subheading"
    "button"
    ;
    &__heading {
        grid-area: search__heading;
        justify-self: center;
        text-align: center;
    }
    &__subheading {
        grid-area: search__subheading;
        justify-self: center;
        text-align: center;
    }
}

.steps {
    grid-area: steps;
    padding: 2rem 1rem 2rem 1rem;
    background: map-get($color-palette, color-container);
    display: grid;
    gap: 1em;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "heading"
    "step"
    "step"
    "step";
    &__card {
        background: map-get($color-palette, color-container-accented);
        border-radius: 18px;
        padding: 1rem 1rem 1rem 0;
        display: grid;
        grid-template-columns: 5% 15% minmax(0, 1fr);
        grid-template-areas: 
        "number icon--step text";
    }
}

.circle {
    grid-area: number;
    position: relative;
    right: 10px;
    display: grid;
    place-content: center;
    background: map-get($color-palette, color-primary);
    color: map-get($color-palette, color-container);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.icon--step {
    grid-area: icon--step;
    justify-self: center;
    align-self: baseline;
    
}

.restaurants {
    grid-area: restaurants;
    padding: 2rem 1rem 2rem 1rem;
    background: map-get($color-palette, color-container-accented);
    display: grid;
    gap: 1em;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "heading"
    "card--1"
    "card--2"
    "card--3"
    "card--4"
    ;
}

